---
layout: home
title: Férfikör
permalink: /ferfikor/
---

<section class="text-gray-700 body-font">
    <div class="container px-5 pt-12 mx-auto">
        <a href="/ferfikor/" class="hover:underline">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-4">Férfikör - 2022 ősz - stabilitásom, erősségeim, rugalmasságom</h1>
        </a>
        <p class="text-xl leading-relaxed xl:w-3/4 lg:w-full mx-auto font-bold text-center">A férfi csoport segít elmélyülni a jelenben, fókuszt találni a jövőre nézve és megosztani a mindennapok kihívásait. Olyan egyéni fejlődésre fókuszáló támogató közösség, amely havonta tart találkozókat. Célja, hogy a biztonságos tér lehetővé tegye a reflexiót, a feltöltődést és segítsen az egyéni célok felé való haladásban.</p>
    </div>
</section>

<section class="text-gray-700 body-font">
    <div class="container px-5 py-12 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
            <img src="/images/4008876_139.jpg" class="object-cover object-right h-full w-full">
        </div>
        <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
            {% for item in site.data.coaching.circle_of_man.items %}
                <div class="flex flex-col mb-10 lg:items-start items-center">
                    <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-300 text-gray-600 mb-5">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2 class="text-gray-900 text-xl title-font font-medium mb-3">{{ item.title }}</h2>
                        <p class="leading-relaxed text-xl">{{ item.description }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="flex py-12 mx-auto lg:mx-0">
                <a data-savvycal-embed href="{{ site.data.coaching.actions.email.url }}" target="_blank"
                   class="inline-flex text-white bg-gray-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded text-xl">{{ site.data.coaching.actions.email.title }}</a>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-700 body-font">
    <div class="container px-5 py-12 mx-auto">
        <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">{{ site.data.coaching.circle_of_man_expectations.title }}</h1>
            <p class="text-xl leading-relaxed xl:w-3/4 lg:w-3/4 mx-auto font-bold">{{ site.data.coaching.circle_of_man_expectations.description }}</p>
        </div>
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
            {% for item in site.data.coaching.circle_of_man_expectations.items %}
                <div class="p-2 sm:w-1/2 w-full">
                    <div class="bg-gray-100 rounded flex p-4 h-full items-center border-1 border-gray-500">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="3" class="text-gray-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <span class="title-font font-medium text-xl">{{ item.title }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="text-gray-700 body-font">
    <div class="container px-5 pt-12 mx-auto">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-4">Az őszi csoport tematikája</h1>
        <p class="text-xl leading-relaxed xl:w-3/4 lg:w-full mx-auto text-center mb-4">Mindannyian érezzük, hogy körülöttünk ezernyi változás zajlik. Hogyan lehet mindezen történések közepette jól működni férfiként, apaként, szakemberként? Erre keressük a válaszokat közösen. Természetesen egyedül is lehet lépéseket tenni, mégis biztonságot nyújt ha van egy férficsoport az ember háta mögött. A többiektől inspirálódva, megtapasztalva, hogy nem vagyok ezekkel a kérdésekkel egyedül, könyebb megtenni a következő lépést az utamon előre.
        </p>
        <p class="text-xl leading-relaxed xl:w-3/4 lg:w-full mx-auto text-center">Stabilitásom megismerése, erősségeim tudatosítása, rugalmasságom gyakorlása - ezek kapnak teret a csoport alkalmai során. Az ősz és a tél várható nehézségeire mi férfiak így készülünk fel. Közösen, vidáman, proaktívan, hogy majd amikor szükségünk lesz az újratervezés képességére, akkor több lehetőségből választva, rugalmasan és hatékonyan tudjuk megtalálni a következő stabil pontot belül és kívül.
        </p>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-12 pt-24 md:flex-row flex-col items-center">
        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-3xl text-2xl mb-4 font-medium text-gray-900">Új lehetőség: egy napos elvonulás a csoporttal!
            </h1>
            <p class="mb-8 leading-relaxed text-xl">
                A korábbi tapasztalat alapján igazán sokat tanulhatunk egymástól. Hiszen nem véletlenül érkezik valaki a csoportba. Az elvonulás lehetőséget teremthet arra, hogy ebből még többet profitáljunk. Kiszakadás a mindennapokból, befele figyelés, együttlét, feltöltődés, nevetés - majd tervekkel hazatérés. (A részleteket a csoporttal közösen alakítjuk ki.)
            </p>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded-xl" alt="hero" src="/images/active-male-backpacker-trekking-boots-walking-trail.jpg">
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Képek korábbi alkalmakról</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base hidden">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom.</p>
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-top rounded-lg" src="/images/IMG_5171-2.jpeg">
                    <div class="px-8 py-24 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 _hover:opacity-100">
                        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Shooting Stars</h1>
                        <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center rounded-lg" src="/images/IMG_5174.jpeg">
                    <div class="px-8 py-24 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 _hover:opacity-100">
                        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
                        <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-top rounded-lg" src="/images/IMG_6159.jpg">
                    <div class="px-8 py-24 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 _hover:opacity-100">
                        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The 400 Blows</h1>
                        <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center rounded-lg" src="/images/IMG_6880.jpg">
                    <div class="px-8 py-24 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 _hover:opacity-100">
                        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Neptune</h1>
                        <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-top rounded-lg" src="/images/IMG_6891.jpg">
                    <div class="px-8 py-24 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 _hover:opacity-100">
                        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Holden Caulfield</h1>
                        <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-top rounded-lg" src="/images/IMG_6893.jpg">
                    <div class="px-8 py-24 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 _hover:opacity-100">
                        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Alper Kamu</h1>
                        <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto">
        <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Korábbi csoporttagok írták</h1>
        <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/2 w-full">
                <div class="h-full p-8 rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-800 mb-4" viewBox="0 0 975.036 975.036">
                        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                    </svg>
                    <p class="leading-relaxed mb-6 text-xl">Egy nehéz időszakomban adott olyan támogatást, ami segített kicsit tisztázni a folyamatokat, érzéseket, előttem álló feladatokat. Sokkal könnyebb lélekkel jöttem el az alkalmakról, mint mielőtt odamentem.</p>
                    <a class="inline-flex items-center">
                        <img alt="testimonial" src="https://dummyimage.com/106x106" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                        <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900 text-lg">Frigyes</span>
              <span class="text-gray-500 text-sm hidden">UI DEVELOPER</span>
            </span>
                    </a>
                </div>
            </div>
            <div class="p-4 md:w-1/2 w-full">
                <div class="h-full p-8 rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-800 mb-4" viewBox="0 0 975.036 975.036">
                        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                    </svg>
                    <p class="leading-relaxed mb-6 text-xl">Egy nehéz időszakomban adott olyan támogatást, ami segített kicsit tisztázni a folyamatokat, érzéseket, előttem álló feladatokat. Sokkal könnyebb lélekkel jöttem el az alkalmakról, mint mielőtt odamentem.</p>
                    <a class="inline-flex items-center">
                        <img alt="testimonial" src="https://dummyimage.com/107x107" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                        <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900 text-lg">Huba</span>
              <span class="text-gray-500 text-sm hidden">DESIGNER</span>
            </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Mit kell tudnod a vezetőkről?</h1>
        <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                    <img class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" alt="hero" src="/images/attila.jpg">
                    <div class="flex-grow sm:pl-8">
                        <h2 class="title-font font-medium text-lg text-gray-900">Juhász Attila</h2>
                        <h3 class="text-gray-500 mb-3">Cégvezető, coach</h3>
                        <p class="mb-4">Abban hiszek, hogy a  megfelelő térben folyamatos fejlődésre vagyunk képesek. Az egyéni felelősségünk, hogy a nekünk megfelelő teret megtaláljuk, vagy megteremtsük.</p>
                    </div>
                </div>
            </div>
            <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                    <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/201x201">
                    <div class="flex-grow sm:pl-8">
                        <h2 class="title-font font-medium text-lg text-gray-900">Törzsök Árpád</h2>
                        <h3 class="text-gray-500 mb-3">Mentor, coach</h3>
                        <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="mb-10 md:mb-0 pb-10 ">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 text-center">Árak és feltételek</h1>
            <p class="leading-relaxed text-xl my-6">Találkozunk 9x, minden hónap 4. csütörtök estéjén 19:00 - 23:00 között, ebből a vezetett program 22:30-ig tart. A csoport maximum 14 résztvevővel indul, az első alkalom után elköteleződünk.  <span class="font-bold">Alkalmanként 20.000 Ft a hozzájárulási díj - elköteleződés után számítunk a hozzájárulásra lemondástól függetlenül, hiszen a csoport zárt.</span> A számlázás havonta történik. A csoporthoz való csatlakozást egy rövid interjúbeszélgetés előzi meg. Az első alkalom 2022. szeptember 22-én csütörtökön 19:00 és 23:00 között lesz. Cím - 1115, Budapest, Ildikó utca 24. (App Maintainers csengő). Arra kérünk, vigyázz a többiek egészségére és hagyj magadnak időt a gyógyulásra - betegen ne gyere el. Maszk viselése opcionális, nem okoz gondot ha úgy döntesz, hogy használod.</p>
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 text-center">Időpontok</h1>
            <ul class="leading-relaxed text-xl list-disc mb-12">
                <li class="m-5">2022. szeptember 22. csütörtök, 19:00</li>
                <li class="m-5">2022. október 27. csütörtök, 19:00</li>
                <li class="m-5">2022. november 24. csütörtök, 19:00</li>
                <li class="m-5">2022. december 22. csütörtök, 19:00</li>
                <li class="m-5">2023. január 26. csütörtök, 19:00</li>
                <li class="m-5">2023. február 23. csütörtök, 19:00</li>
                <li class="m-5">2023. március 23. csütörtök, 19:00</li>
                <li class="m-5">2023. április 15-16 hétvége (egy napos elvonulás, részletek később)</li>
                <li class="m-5">2023. április 27. csütörtök, 19:00</li>
                <li class="m-5">2023. május 25. csütörtök, 19:00</li>
            </ul>
            <a href="{{ site.data.coaching.actions.email.url }}" target="_blank" class="text-white bg-gray-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded text-2xl">{{ site.data.coaching.actions.email.title }}
            </a>
        </div>
    </div>
</section>

<section class="text-gray-700 body-font hidden">
    <div class="container px-5 py-12 mx-auto">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Könyvek amiket érdemes kézbe venned</h1>
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-7 gap-4">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv4.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv8.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv5.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv1.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv3.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv6.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv7.jpeg">
        </div>
    </div>
</section>

<section class="py-10 lg:py-20">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap -m-3">
            <div class="w-full lg:w-1/2 p-3">
                <img class="w-full h-72 rounded-lg object-cover" src="/images/ffi1.jpeg" alt="">
            </div>
            <div class="w-full lg:w-1/2 p-3">
                <img class="w-full h-72 rounded-lg object-cover" src="/images/ffi2.jpg" alt="">
            </div>
            <div class="w-full lg:w-1/3 p-3">
                <img class="w-full h-72 rounded-lg object-cover" src="/images/ffi3.jpg" alt="">
            </div>
            <div class="w-full lg:w-1/3 p-3">
                <img class="w-full h-72 rounded-lg object-cover" src="/images/ffi4.jpg" alt="">
            </div>
            <div class="w-full lg:w-1/3 p-3">
                <img class="w-full h-72 rounded-lg object-cover object-top" src="/images/ffi5a.jpg" alt="">
            </div>
        </div>
    </div>
</section>