---
layout: home
title: Férfikör
permalink: /ferfikor/
---

<section class="text-gray-700 body-font">
    <div class="container px-5 pt-12 mx-auto">
        <a href="/ferfikor/" class="hover:underline">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-4">Férfikör 2022 ősz</h1>
        </a>
        <p class="text-xl leading-relaxed xl:w-3/4 lg:w-full mx-auto font-bold text-center">A férfi csoport segít elmélyülni a jelenben, fókuszt találni a jövőre nézve és megosztani a mindennapok kihívásait. Olyan egyéni fejlődésre fókuszáló támogató közösség, amely havonta tart találkozókat. Célja, hogy a biztonságos tér lehetővé tegye a reflexiót, a feltöltődést és segítsen az egyéni célok felé való haladásban.</p>
    </div>
</section>

<section class="text-gray-700 body-font">
    <div class="container px-5 py-12 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
            <img src="/images/ferfikor2.jpeg" class="object-cover object-center h-full w-full">
        </div>
        <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
            {% for item in site.data.coaching.circle_of_man.items %}
                <div class="flex flex-col mb-10 lg:items-start items-center">
                    <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-300 text-gray-600 mb-5">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2 class="text-gray-900 text-xl title-font font-medium mb-3">{{ item.title }}</h2>
                        <p class="leading-relaxed text-lg">{{ item.description }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="flex py-12 mx-auto lg:mx-0">
                <a data-savvycal-embed href="{{ site.data.coaching.actions.email.url }}" target="_blank"
                   class="inline-flex text-white bg-gray-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded text-xl">{{ site.data.coaching.actions.email.title }}</a>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-700 body-font">
    <div class="container px-5 py-12 mx-auto">
        <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">{{ site.data.coaching.circle_of_man_expectations.title }}</h1>
            <p class="text-lg leading-relaxed xl:w-3/4 lg:w-3/4 mx-auto font-bold">{{ site.data.coaching.circle_of_man_expectations.description }}</p>
        </div>
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
            {% for item in site.data.coaching.circle_of_man_expectations.items %}
                <div class="p-2 sm:w-1/2 w-full">
                    <div class="bg-gray-50 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="3" class="text-gray-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <span class="title-font font-medium text-xl">{{ item.title }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto">
        <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Korábbi csoporttagok írták</h1>
        <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/2 w-full">
                <div class="h-full p-8 rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-800 mb-4" viewBox="0 0 975.036 975.036">
                        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                    </svg>
                    <p class="leading-relaxed mb-6 text-xl">Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard pabst authentic iceland.</p>
                    <a class="inline-flex items-center">
                        <img alt="testimonial" src="https://dummyimage.com/106x106" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                        <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900">Jenő</span>
              <span class="text-gray-500 text-sm">UI DEVELOPER</span>
            </span>
                    </a>
                </div>
            </div>
            <div class="p-4 md:w-1/2 w-full">
                <div class="h-full p-8 rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-800 mb-4" viewBox="0 0 975.036 975.036">
                        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                    </svg>
                    <p class="leading-relaxed mb-6 text-xl">Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard pabst authentic iceland.</p>
                    <a class="inline-flex items-center">
                        <img alt="testimonial" src="https://dummyimage.com/107x107" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                        <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900">Dani</span>
              <span class="text-gray-500 text-sm">DESIGNER</span>
            </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="text-2xl font-medium text-center title-font text-gray-900 tracking-widest">Mit kell tudnod a vezetőkről?</h1>
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                    <img class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" alt="hero" src="/images/attila.jpg">
                    <div class="flex-grow sm:pl-8">
                        <h2 class="title-font font-medium text-lg text-gray-900">Juhász Attila</h2>
                        <h3 class="text-gray-500 mb-3">Cégvezető, coach</h3>
                        <p class="mb-4">Abban hiszek, hogy a  megfelelő térben folyamatos fejlődésre vagyunk képesek. Az egyéni felelősségünk, hogy a nekünk megfelelő teret megtaláljuk, vagy megteremtsük.</p>
                    </div>
                </div>
            </div>
            <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                    <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/201x201">
                    <div class="flex-grow sm:pl-8">
                        <h2 class="title-font font-medium text-lg text-gray-900">Alper Kamu</h2>
                        <h3 class="text-gray-500 mb-3">Designer</h3>
                        <p class="mb-4">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.</p>
                        <span class="inline-flex">
              <a class="text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>
              </a>
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="md:border-r md:border-b-0 mb-10 md:mb-0 pb-10 border-b border-gray-200">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">{{ site.data.coaching.circle_of_man_pricing.title }}</h1>
            <p class="leading-relaxed text-xl my-6">{{ site.data.coaching.circle_of_man_pricing.description }}</p>
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Időpontok</h1>
            <ul class="leading-relaxed text-xl list-disc mb-12 flex">
                <li class="m-5">2022. szemtember XXX.</li>
            </ul>
            <a href="{{ site.data.coaching.actions.email.url }}" target="_blank" class="text-white bg-gray-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded text-xl">{{ site.data.coaching.actions.email.title }}
            </a>
        </div>
    </div>
</section>

<section class="text-gray-700 body-font hidden">
    <div class="container px-5 py-12 mx-auto">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Könyvek amiket érdemes kézbe venned</h1>
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-7 gap-4">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv4.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv8.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv5.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv1.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv3.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv6.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv7.jpeg">
        </div>
    </div>
</section>

<section class="py-10 lg:py-20">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap -m-3">
            <div class="w-full lg:w-1/2 p-3">
                <img class="w-full h-72 rounded-lg object-cover" src="/images/ffi1.jpeg" alt="">
            </div>
            <div class="w-full lg:w-1/2 p-3">
                <img class="w-full h-72 rounded-lg object-cover" src="/images/ffi2.jpg" alt="">
            </div>
            <div class="w-full lg:w-1/3 p-3">
                <img class="w-full h-72 rounded-lg object-cover" src="/images/ffi3.jpg" alt="">
            </div>
            <div class="w-full lg:w-1/3 p-3">
                <img class="w-full h-72 rounded-lg object-cover" src="/images/ffi4.jpg" alt="">
            </div>
            <div class="w-full lg:w-1/3 p-3">
                <img class="w-full h-72 rounded-lg object-cover object-top" src="/images/ffi5a.jpg" alt="">
            </div>
        </div>
    </div>
</section>