---
layout: home
title: Férfikör
permalink: /ferfikor/
---

<section class="text-gray-700 body-font">
    <div class="container px-5 pt-12 mx-auto">
        <a href="/ferfikor/" class="hover:underline">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-4">Férfikör 2022/I</h1>
        </a>
        <p class="text-base leading-relaxed xl:w-3/4 lg:w-full mx-auto font-bold">Megosztás alapú férfi csoport, amely
            segít elmélyülni a jelenben, fókuszt találni a jövőre nézve és megosztani a mindennapok kihívásait. Öt
            alkalmas csoport, havonta találkozunk, minden hónap első csütörtök estéjén. Első alkalom 2022. február 3,
            csütörtök, 19:00.</p>
    </div>
</section>

<section class="text-gray-700 body-font">
    <div class="container px-5 py-12 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
            <img src="/images/ferfikor2.jpeg" class="object-cover object-center h-full w-full">
        </div>
        <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
            {% for item in site.data.coaching.circle_of_man.items %}
                <div class="flex flex-col mb-10 lg:items-start items-center">
                    <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-300 text-gray-600 mb-5">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">{{ item.title }}</h2>
                        <p class="leading-relaxed text-base">{{ item.description }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="flex py-12 mx-auto lg:mx-0">
                <a data-savvycal-embed href="{{ site.data.coaching.actions.email.url }}" target="_blank"
                   class="inline-flex text-white bg-gray-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded text-lg">{{ site.data.coaching.actions.email.title }}</a>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-700 body-font">
    <div class="container px-5 py-12 mx-auto">
        <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">{{ site.data.coaching.circle_of_man_expectations.title }}</h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">{{ site.data.coaching.circle_of_man_expectations.description }}</p>
        </div>
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
            {% for item in site.data.coaching.circle_of_man_expectations.items %}
                <div class="p-2 sm:w-1/2 w-full">
                    <div class="bg-gray-50 rounded flex p-4 h-full items-center">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                             stroke-width="3" class="text-gray-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                        <span class="title-font font-medium">{{ item.title }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="text-gray-700 body-font">
    <div class="container px-5 py-12 mx-auto">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Könyvek amiket érdemes kézbe venned</h1>
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-7 gap-4">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv4.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv8.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv5.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv1.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv3.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv6.jpeg">
            <img class="w-full shadow-lg border-4 border-dashed border-gray-500" src="/images/konyv7.jpeg">
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="md:border-r md:border-b-0 mb-10 md:mb-0 pb-10 border-b border-gray-200">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">{{ site.data.coaching.circle_of_man_pricing.title }}</h1>
            <p class="leading-relaxed text-base my-6">{{ site.data.coaching.circle_of_man_pricing.description }}</p>
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Időpontok</h1>
            <ul class="leading-relaxed text-base list-disc mb-12 flex">
                <li class="m-5">2022. február 3.</li>
                <li class="m-5">2022. március 3.</li>
                <li class="m-5">2022. április 7.</li>
                <li class="m-5">2022. május 5.</li>
                <li class="m-5">2022. június 2.</li>
            </ul>
            <a data-savvycal-embed href="{{ site.data.coaching.actions.email.url }}" target="_blank"
               class="text-white bg-gray-500 border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded">{{ site.data.coaching.actions.email.title }}
            </a>
        </div>
    </div>
</section>

<section class="py-10 lg:py-20">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap -m-3">
            <div class="w-full lg:w-1/2 p-3">
                <img class="w-full h-72 rounded-lg object-cover" src="/images/ffi1.jpeg" alt="">
            </div>
            <div class="w-full lg:w-1/2 p-3">
                <img class="w-full h-72 rounded-lg object-cover" src="/images/ffi2.jpg" alt="">
            </div>
            <div class="w-full lg:w-1/3 p-3">
                <img class="w-full h-72 rounded-lg object-cover" src="/images/ffi3.jpg" alt="">
            </div>
            <div class="w-full lg:w-1/3 p-3">
                <img class="w-full h-72 rounded-lg object-cover" src="/images/ffi4.jpg" alt="">
            </div>
            <div class="w-full lg:w-1/3 p-3">
                <img class="w-full h-72 rounded-lg object-cover object-top" src="/images/ffi5a.jpg" alt="">
            </div>
        </div>
    </div>
</section>