<section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto">
        <div class="flex flex-col text-left w-full mb-20">
            <h2 class="text-xs text-gray-500 tracking-widest font-medium title-font mb-1 uppercase">{{ services.subtitle }}</h2>
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">{{ services.title }}</h1>
        </div>
        <div class="flex flex-wrap -m-4">
            {% for item in services.items %}
                <div class="p-4 lg:w-1/3">
                    <div class="flex rounded-lg h-full bg-gray-50 p-8 flex-col bg-gray-100 border-4 border-dotted border-gray-400">
                        <div class="flex items-center mb-3">
                            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-gray-500 text-white flex-shrink-0">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                     stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </div>
                            <h2 class="text-gray-900 text-lg title-font font-medium underline">{{ item.name }}</h2>
                        </div>
                        <div class="flex-grow">
                            <p class="leading-relaxed text-base">
                                {{ item.description }}
                            </p>
                            <a data-savvycal-embed href="{% if item.link == 'order' %}
                                    {{ order.url }}
                                {% elsif item.link == 'email' %}
                                    {{ email.url }}
                                {% elsif item.link == 'circle_of_man' %}
                                    {{ circle_of_man.url }}
                                {% else %}
                                    {{ know_more.url }}
                                {% endif %}"
                               class="mt-3 text-blue-800 inline-flex items-center hover:underline">
                                {% if item.link == 'order' %}
                                    {{ order.title }}
                                {% elsif item.link == 'email' %}
                                    {{ email.title }}
                                {% elsif item.link == 'circle_of_man' %}
                                    {{ circle_of_man.title }}
                                {% endif %}
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                     stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section>